body {
  margin: 0;
  padding: 0;
  font-family: sans-serif;
  background: linear-gradient(90deg, rgba(67,157,112,1) 0%, rgba(168,200,130,1) 45%, rgba(158,208,135,1) 100%);
}

button{
  cursor: pointer;
}